<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Bank Reconciliation{% endtrans %}| {% trans %}Uncleared Transactions{% endtrans %} | {{ledgerheader["accountname"]}}</title>
  <style type="text/css">

  .rightJustified{
    text-align:right;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #bankrecontable td,#stmttable td {
      font-size: 75%;
      padding: 4 !important;
      margin: 4 !important;
    }
  #bankrecontable th {
      font-size: 85%;
  }
  .fixed-table tbody {
      display:block;
      height: calc(100vh - 15em);
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.7em )
  }
  .ralign{
    text-align:right;

  }
  .cred{
    color:red;
  }
  .calign{
    text-align:center;
  }
  </style>
</head>
<body>
  <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

    <label>{% trans %}Please enter date in proper format!{% endtrans %}</label>
  </div>
  <div class="alert alert-danger" id="between-date-alert"  aria-live="rude" role="alert" hidden>

    <label>{% trans %}Clearance date cannot be before the voucher date!{% endtrans %}</label>
  </div>
  <input type="hidden" id="accountcode" name="accountcode" value="{{ledgerheader["accountcode"]}}"></input>
  <input type="hidden" id="accountname" name="accountname" value="{{ledgerheader["accountname"]}}"></input>
  <input type="hidden" id="calculatefrom" name="calculatefrom" value="{{ledgerheader["calculatefrom"]}}"></input>
  <input type="hidden" id="calculateto" name="calculateto" value="{{ledgerheader["calculateto"]}}"></input>
  <input type="hidden" id="narrationflag" name="narrationflag" value="{{ledgerheader["narrationflag"]}}"></input>
  <div id="unclrdtrs" class="table-responsive">
    <span class="pull-right hidden-print header"  style="padding-right:12px"><i>{% trans %}Period{% endtrans %}</i> : <b>{{ledgerheader["calculatefrom"]}}</b> {% trans %}to{% endtrans %} <b>{{ledgerheader["calculateto"]}}</b></span>
    <span style="margin:auto; display:table;" class="hidden-print header"><i>{% trans %}Uncleared Transactions of{% endtrans %}</i> : <b>{{ledgerheader["accountname"]}}</b></span>
    <table id="bankrecontable" class="table shadow table-bordered fixed-table" >
      <thead class="bg-primary">
        <tr id="printhead" style="display:none">
          <th class="text-center visible-print" style="font-size:80%" colspan="6">
            <i>{% trans %}Uncleared Transactions of{% endtrans %}</i> : <b>{{ledgerheader["accountname"]}}</b><br>
            <i>{% trans %}Period{% endtrans %}</i> : <b>{{ledgerheader["calculatefrom"]}}</b> {% trans %}to{% endtrans %} <b>{{ledgerheader["calculateto"]}}</b>
          </th>
        </tr>
        <tr>
          <th style="width:6.3%" class="calign">{% trans %}Date{% endtrans %}</th>
          <th style="width:5.2%" class="calign">{% trans %}V. No.{% endtrans %}</th>
          <th class=" hidden-print"  style="width:49.7%">{% trans %}Particulars{% endtrans %}</th>
          <th class=" visible-print"  style="width:58.0%">{% trans %}Particulars{% endtrans %}</th>
          <th class="ralign" style="width:9.2%">{% trans %}Debit{% endtrans %}</th>
          <th class="ralign"style="width:9.2%">{% trans %}Credit{% endtrans %}</th>
          <th  style="width:10.2%">{% trans %}Clearance Date{% endtrans %}</th>
          <th class=" hidden-print" style="width:10.2%">{% trans %}Memo{% endtrans %}</th>

        </tr>
      </thead>
      <tbody>
        {% for record in recongrid %}
        <tr value="{{record['reconcode']}}">
          <td style="width:6.3%" class="calign">
            {{record['date']}}
          </td>
          <td style="width:5.2%" class="calign">
            {{record['vno']}}
          </td>
          <td class=" hidden-print"  style="width:49.8%">
            {{record['particulars']}}
            {% if record['narration']!="" and narrationflag==true %}
            <br>
            ({{record['narration']}})
            {% endif %}
          </td>
          <td class=" visible-print"  style="width:58.0%">
            {{record['particulars']}}
            {% if record['narration']!="" and narrationflag==true %}
            <br>
            ({{record['narration']}})
            {% endif %}
          </td>
          <td class="ralign" style="width:9.2%">
            {{record["dr"]}}
          </td>
          <td class="ralign" style="width:9.2%">
            {{record["cr"]}}
          </td>
          <td class="hidden-print" style="width:10.2%">
            <input class="form-control input-sm clrdate" type="text"  maxlength="10" placeholder="DD-MM-YYYY" value="{{record["clearancedate"]}}">
          </td>
          <td class=" hidden-print"  style="width:10.2%">
            <input class="form-control input-sm memo " type="text" value="{{record["memo"]}}">
          </td>
          <td class=" visible-print" style="width:12.1%">
            {{record["clearancedate"]}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div id = "recostmtdiv" class="container hides">
    <div class="table-responsive col-xs-8 col-xs-offset-2">
    <span style="margin:auto; display:table;" class="hidden-print header"><i>{% trans %}Bank Reconciliation Statement of{% endtrans %}</i> : <b>{{ledgerheader["accountname"]}}</b></span>
    <span class=" hidden-print header"  style="margin:auto; display:table; padding-right:12px"><i>{% trans %}Period{% endtrans %}</i> : <b>{{ledgerheader["calculatefrom"]}}</b> {% trans %}to{% endtrans %} <b>{{ledgerheader["calculateto"]}}</b></span>
      <table id="stmttable" class=" shadow table table-striped table-condensed">
        <tr id="printhead2" style="display:none">
          <th class="text-center visible-print" style="font-size:80%" colspan="6">
            <i>{% trans %}Bank Reconciliation Statement of{% endtrans %}</i> : <b>{{ledgerheader["accountname"]}}</b><br>
            <i>{% trans %}Period{% endtrans %}</i> : <b>{{ledgerheader["calculatefrom"]}}</b> {% trans %}to{% endtrans %} <b>{{ledgerheader["calculateto"]}}</b>
          </th>
        </tr>
        <tbody id="stmttablebody">
          {% for record in reconstmt %}
          <tr>
            <td class="col-xs-8">
              {{record["particulars"]}}
            </td>
            <td class="col-xs-4 ralign">
              {{record["amount"]}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
    <span class="hidden-print" style="margin:auto; display:table;">
      <button class="btn btn-sm btn-danger" type="button" id="bankrecon_back" accesskey="e">{% trans %}<i class="fa fa-bars" aria-hidden="true"></i>
 R<u>e</u>conciliation Menu{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button" id="clrditems" accesskey="a">{% trans %}<i class="fa fa-list" aria-hidden="true"></i> Cle<u>a</u>red Items{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="viewstatement" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew Statement{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="printstatement" accesskey="s">{% trans %}<i class="fa fa-print" aria-hidden="true"> </i> <u>S</u>tatement's Printable Version{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="printtransactions" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> <u>T</u>ransaction's Printable Version{% endtrans %}</button>
      <button class="btn btn-sm btn-info" type="button"  id="realprintbank" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Prin<u>t</u>{% endtrans %}</button>
      <button class="btn btn-sm btn-primary" type="button"  id="back" accesskey="b">{% trans %}<i class="fa fa-arrow-left" aria-hidden="true"></i>
 <u>B</u>ack{% endtrans %}</button>
    </span>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bankreconreport.js')}}"></script>
</body>
</html>
