<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}categorywise stock on hand report{% endtrans %}</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View Category Wise Stock On Hand{% endtrans %}</h3>
      </div>
      <div class="panel-body" style="padding-top:5px">
      <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>
        <label for="viewstock_fromdate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
      </div>
      <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

        <label for="viewstock_fromdate">{% trans %}Please enter date within the financial year!{% endtrans %}</label>
      </div>
        <div class="alert alert-danger" id="category-blank-alert" aria-live="rude" role="alert" hidden>
          <label>{% trans %}Please select a Category!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="godown-blank-alert" aria-live="rude" role="alert" hidden>
          <label>{% trans %}Please select a Godown!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="subcategory-blank-alert" aria-live="rude" role="alert" hidden>
          <label>{% trans %}Please select a subcategory!{% endtrans %}</label>
        </div>
        <div class="alert alert-danger" id="specs-blank-alert" aria-live="rude" role="alert" hidden>
          <label>{% trans %}Please select a specification!{% endtrans %}</label>
        </div>
        <div style="margin-bottom: 5px" class="col-xs-12 from-group">
          <label for="viewstock_categoryname" style="margin-top: 10px;">{% trans %}Category{% endtrans %} :</label>
          <select class = "form-control input-sm" id="viewstock_categoryname"  name = "categoryname" >
            <option value="" disabled selected hidden>{% trans %}Select Category{% endtrans %}</option>
            {% for category in gkresult %}
            <option value="{{category['categorycode']}}">{{category["categoryname"]}}</option>
            {% endfor %}
          </select>
          <label for="viewstock_subcategoryname" style="margin-top: 10px;">{% trans %}Sub-Category{% endtrans %} :</label>
          <select class = "form-control input-sm" id="viewstock_subcategoryname"  name = "subcategoryname" >
            <option value="all" selected >{% trans %}All{% endtrans %}</option>
          </select>
<!--          <label for="viewstock_specsname" style="margin-top: 10px;">{% trans %}Specification{% endtrans %} :</label>
          <select class = "form-control input-sm" id="viewstock_specsname"  name = "specsname" >
            <option value="all" selected>{% trans %}All{% endtrans %}</option>
          </select>
-->          <div class="col-xs-12" style="margin-top: 10px;">
              <div class="col-xs-6">
              <label for="viewstock_todate">{% trans %}As on{% endtrans %} :</label>
              <div class="form-inline" >

                <div class="form-group">

                  <input type="text" class="viewstock_date form-control input-sm" id="viewstock_todate" value="" size="2" maxlength="2" placeholder="DD" >
                  <input type="text" id="viewstock_tomonth" class="viewstock_date form-control input-sm" value="" size="2" maxlength="2" placeholder="MM" >
                  <input type="text" id="viewstock_toyear" class="viewstock_date form-control input-sm" value="" size="4" maxlength="4" placeholder="YYYY" >
                </div>
              </div>
            </div>
          </div>
          {% if not godown %}
          <input type="text" id="godownpresent" value="0" hidden>
          <input type="checkbox" id="godownflag" value="0" hidden>
          {% else %}
          {% if userrole == 3 %}
          <div class="form-group">
            <input type="text" id="godownpresent" value="1" hidden>
            <input type="checkbox" id="godownflag" style="margin-top: 20px;" value="1" hidden>
            <label for="godownflag" hidden>Godown Wise Stock on Hand Report</label>
          </div>
          <div class="form-group" id="goselect">
            <label for="editgoddet">{% trans %}Godown{% endtrans %} :</label>
            <select class = "form-control input-sm" id="editgoddet">
            <option value="all" selected>{% trans %}All{% endtrans %}</option>
              {% for gods in godown %}
              <option value="{{gods['goid']}}" data-godownname="{{gods["goname"]}}" data-godownaddress="{{gods["goaddr"]}}">{{gods["goname"]}} ({{gods["goaddr"]}})</option>

              {% endfor %}
            </select>
          </div>
          {%else%}
          <div class="form-group">
            <input type="text" id="godownpresent" value="1" hidden>
            <input type="checkbox" id="godownflag" style="margin-top: 20px;" value="0">
            <label for="godownflag">Godown Wise Stock on Hand Report</label>
          </div>
          <div class="form-group" id="goselect" hidden>
            <label for="editgoddet">{% trans %}Godown{% endtrans %} :</label>
            <select class = "form-control input-sm" id="editgoddet">
            <option value="all" >{% trans %}All{% endtrans %}</option>
              {% for gods in godown %}
              <option value="{{gods['goid']}}" data-godownname="{{gods["goname"]}}" data-godownaddress="{{gods["goaddr"]}}">{{gods["goname"]}} ({{gods["goaddr"]}})</option>

              {% endfor %}
            </select>
          </div>
          {% endif %}
          {% endif %}
        </div>
      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="viewstock_submit" name="view" accesskey="v">{% trans %}<u>V</u>iew{% endtrans %}</button>
        <button id="viewstock_reset" class="btn btn-danger btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewcategorywisestockonhandreport.js')}}"></script>
</body>
</html>
